@import "./include-media.scss";

@mixin text-shadow {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

@mixin box-shadow {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
}
a {
  text-decoration: none;
}

input,
textarea {
  font-family: inherit;
}

textarea {
  resize: none;
  overflow: auto;
}

h1,
h3,
h4,
p {
  @include text-shadow;
}
.menu {
  display: flex;
}

svg {
  .shadow {
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  }
  .cls-1 {
    animation: slide-from-left 10s 1s ease-in-out backwards;
  }
  .cls-2 {
    animation: slide-from-left 10s 0.75s ease-in-out backwards;
  }
  .cls-3 {
    animation: slide-from-right 10s 0.75s ease-in-out backwards;
  }
  .cls-4 {
    animation: slide-from-right 10s 1s ease-in-out backwards;
  }
  .cls-5 {
    animation: slide-from-right 10s 1s ease-in-out backwards;
  }
  .cls-6 {
    animation: slide-from-right 10s 1.25s ease-in-out backwards;
  }
  .cls-7 {
    animation: slide-from-left 10s 1.25s ease-in-out backwards;
  }
  .cls-8 {
    animation: slide-from-left 10s 0.75s ease-in-out backwards;
  }
  .shape-right {
    animation: slide-from-right 10s ease-in-out forwards;
  }
}

@keyframes slide-from-right {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  10% {
    opacity: 0;
    transform: translateX(15%);
  }
  15% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
  }
}

// .shape-left {
//   animation: slide-from-left 10s ease-in-out forwards;
// }

@keyframes slide-from-left {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  10% {
    opacity: 0;
    transform: translateX(-15%);
  }
  15% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  10% {
    opacity: 0;
    transform: translateY(-15%);
  }
  15% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  10% {
    opacity: 0;
    transform: translateY(15%);
  }
  15% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}
