@import "./include-media.scss";

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}
a {
  text-decoration: none;
}

@mixin text-shadow {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.menu {
  display: flex;
}

svg {
  .cls-1 {
    animation: slide-from-left 10s 1s ease-in-out backwards;
  }
  .cls-2 {
    animation: slide-from-left 10s 0.75s ease-in-out backwards;
  }
  .cls-3 {
    animation: slide-from-right 10s 0.75s ease-in-out backwards;
  }
  .cls-4 {
    animation: slide-from-right 10s 1s ease-in-out backwards;
  }
  .cls-5 {
    animation: slide-from-right 10s 1s ease-in-out backwards;
  }
  .cls-6 {
    animation: slide-from-right 10s 1.25s ease-in-out backwards;
  }
  .cls-7 {
    animation: slide-from-left 10s 1.25s ease-in-out backwards;
  }
  .cls-8 {
    animation: slide-from-left 10s 0.75s ease-in-out backwards;
  }
  .shape-right {
    animation: slide-from-right 10s ease-in-out forwards;
  }
}

@keyframes slide-from-right {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  10% {
    opacity: 0;
    transform: translateX(15%);
  }
  15% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
  }
}

.shape-left {
  animation: slide-from-left 10s ease-in-out forwards;
}

@keyframes slide-from-left {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  10% {
    opacity: 0;
    transform: translateX(-15%);
  }
  15% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  10% {
    opacity: 0;
    transform: translateY(-15%);
  }
  15% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}

// // Extra small devices (portrait phones, less than 576px)
// // No media query for `xs`

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }
