@import "./include-media.scss";

@mixin text-shadow {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

@mixin box-shadow {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}
a {
  text-decoration: none;
}

input,
textarea {
  font-family: inherit;
}

textarea {
  resize: none;
  overflow: auto;
}

h1,
h3,
h4,
p {
  @include text-shadow;
}
h1 {
  color: scale-color($color: $darkNavy, $lightness: 15%);
  -webkit-animation: slide-up 10s ease-in-out backwards;
  -moz-animation: slide-up 10s ease-in-out backwards;
  -o-animation: slide-up 10s ease-in-out backwards;
  animation: slide-up 10s ease-in-out backwards;
  display: inline;
  position: relative;
  font-size: 4rem;
}
h1:after {
  // content: "JORDAN YATCKOSKE";
  position: absolute;
  display: inline;
  left: -8px;
  top: 3px;
  color: scale-color($color: $teal, $lightness: 40%);
}

h4 {
  color: scale-color($color: $darkNavy, $lightness: 15%);
  -webkit-animation: slide-down 10s 0.5s ease-in-out backwards;
  -moz-animation: slide-down 10s 0.5s ease-in-out backwards;
  -o-animation: slide-down 10s 0.5s ease-in-out backwards;
  animation: slide-down 10s 0.5s ease-in-out backwards;
  font-size: 2rem;
  margin: 0 0 0 1em;
}
@include media("<=tablet") {
  h1 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
}
.menu {
  display: flex;
}

svg {
  .shadow {
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  }
  .cls-1 {
    -webkit-animation: slide-from-left 10s 1s ease-in-out backwards;
    -moz-animation: slide-from-left 10s 1s ease-in-out backwards;
    -o-animation: slide-from-left 10s 1s ease-in-out backwards;
    animation: slide-from-left 10s 1s ease-in-out backwards;
  }
  .cls-2 {
    -webkit-animation: slide-from-left 10s 0.75s ease-in-out backwards;
    -moz-animation: slide-from-left 10s 0.75s ease-in-out backwards;
    -o-animation: slide-from-left 10s 0.75s ease-in-out backwards;
    animation: slide-from-left 10s 0.75s ease-in-out backwards;
  }
  .cls-3 {
    -webkit-animation: slide-from-right 10s 0.75s ease-in-out backwards;
    -moz-animation: slide-from-right 10s 0.75s ease-in-out backwards;
    -o-animation: slide-from-right 10s 0.75s ease-in-out backwards;
    animation: slide-from-right 10s 0.75s ease-in-out backwards;
  }
  .cls-4 {
    -webkit-animation: slide-from-right 10s 1s ease-in-out backwards;
    -moz-animation: slide-from-right 10s 1s ease-in-out backwards;
    -o-animation: slide-from-right 10s 1s ease-in-out backwards;
    animation: slide-from-right 10s 1s ease-in-out backwards;
  }
  .cls-5 {
    -webkit-animation: slide-from-right 10s 1s ease-in-out backwards;
    -moz-animation: slide-from-right 10s 1s ease-in-out backwards;
    -o-animation: slide-from-right 10s 1s ease-in-out backwards;
    animation: slide-from-right 10s 1s ease-in-out backwards;
  }
  .cls-6 {
    -webkit-animation: slide-from-right 10s 1.25s ease-in-out backwards;
    -moz-animation: slide-from-right 10s 1.25s ease-in-out backwards;
    -o-animation: slide-from-right 10s 1.25s ease-in-out backwards;
    animation: slide-from-right 10s 1.25s ease-in-out backwards;
  }
  .cls-7 {
    -webkit-animation: slide-from-left 10s 1.25s ease-in-out backwards;
    -moz-animation: slide-from-left 10s 1.25s ease-in-out backwards;
    -o-animation: slide-from-left 10s 1.25s ease-in-out backwards;
    animation: slide-from-left 10s 1.25s ease-in-out backwards;
  }
  .cls-8 {
    -webkit-animation: slide-from-left 10s 0.75s ease-in-out backwards;
    -moz-animation: slide-from-left 10s 0.75s ease-in-out backwards;
    -o-animation: slide-from-left 10s 0.75s ease-in-out backwards;
    animation: slide-from-left 10s 0.75s ease-in-out backwards;
  }
  .y-logo-left {
    -webkit-animation: slide-from-left 10s 0.15s backwards;
    -moz-animation: slide-from-left 10s 0.15s backwards;
    -o-animation: slide-from-left 10s 0.15s backwards;
    animation: slide-from-left 10s 0.15s backwards;
  }
  .y-logo-right {
    -webkit-animation: slide-from-left 10s 0.2s backwards;
    -moz-animation: slide-from-left 10s 0.2s backwards;
    -o-animation: slide-from-left 10s 0.2s backwards;
    animation: slide-from-left 10s 0.2s backwards;
  }
}

@-webkit-keyframes slide-from-right {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  10% {
    opacity: 0;
    transform: translateX(15%);
  }
  15% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes slide-from-right {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  10% {
    opacity: 0;
    transform: translateX(15%);
  }
  15% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes slide-from-right {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  10% {
    opacity: 0;
    transform: translateX(15%);
  }
  15% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-from-right {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  10% {
    opacity: 0;
    transform: translateX(15%);
  }
  15% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-from-left {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  10% {
    opacity: 0;
    transform: translateX(-15%);
  }
  15% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes slide-from-left {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  10% {
    opacity: 0;
    transform: translateX(-15%);
  }
  15% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes slide-from-left {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  10% {
    opacity: 0;
    transform: translateX(-15%);
  }
  15% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-from-left {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  10% {
    opacity: 0;
    transform: translateX(-15%);
  }
  15% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  10% {
    opacity: 0;
    transform: translateY(-15%);
  }
  15% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  10% {
    opacity: 0;
    transform: translateY(-15%);
  }
  15% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  10% {
    opacity: 0;
    transform: translateY(-15%);
  }
  15% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  10% {
    opacity: 0;
    transform: translateY(-15%);
  }
  15% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  10% {
    opacity: 0;
    transform: translateY(15%);
  }
  15% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  10% {
    opacity: 0;
    transform: translateY(15%);
  }
  15% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  10% {
    opacity: 0;
    transform: translateY(15%);
  }
  15% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  10% {
    opacity: 0;
    transform: translateY(15%);
  }
  15% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  // background-color: $darkNavy;
}

::-webkit-scrollbar {
  width: 0px;
  // background-color: $darkNavy;
}

::-webkit-scrollbar-thumb {
  // background-color: $darkNavy;

  // background-image: -webkit-gradient(
  //   linear,
  //   0 0,
  //   0 100%,
  //   color-stop(0.5, rgba(255, 255, 255, 0.2)),
  //   color-stop(0.5, transparent),
  //   to(transparent)
  // );
}
