.graphic {
  flex: 100%;
  text-align: center;
  margin: auto;
  @include media(">tablet") {
    flex: 30%;
  }
  @include media(">=desktop") {
    text-align: right;
    svg {
      width: 80%;
      height: 80%;
      max-height: 400px;
    }
  }
  @include media("<tablet") {
    margin-top: 1.5em;
    svg {
      width: 40%;
      height: 40%;
    }
  }
}
.content {
  flex: 100%;
  text-align: left;
  color: $magenta;
  max-width: 90%;
  h1 {
    color: scale-color($color: $magenta, $lightness: 15%);
    animation: slide-from-left 10s ease-in-out backwards;
  }
  h3 {
    color: scale-color($color: $magenta, $lightness: 15%);
    animation: slide-from-left 10s 0.5s ease-in-out backwards;
  }
  p {
    color: $magenta;
    animation: slide-down 10s 0.75s ease-in-out backwards;
  }

  @include media(">tablet") {
    padding: 0 0 0 2em;
    flex: 70%;
  }
  @include media(">=desktop") {
    max-width: 650px;
  }
  @include media("<desktop", ">tablet") {
    max-width: 65%;
  }
}
