.graphic {
  flex: 100%;
  text-align: center;
  margin: auto;

  @include media(">tablet") {
    flex: 30%;
  }

  @include media(">=desktop") {
    text-align: center;
    svg {
      width: 65%;
      height: 65%;
      max-height: 300px;
    }
  }

  @include media(">=tablet", "<desktop") {
    svg {
      width: 75%;
      height: 75%;
      max-height: 350px;
    }
  }

  @include media("<tablet") {
    margin-top: 1.5em;
    svg {
      width: 30%;
      height: 30%;
    }
  }
}
.content {
  flex: 100%;
  text-align: left;
  color: $magenta;
  max-width: 90%;
  h1 {
    -webkit-animation: slide-from-left 10s ease-in-out backwards;
    -moz-animation: slide-from-left 10s ease-in-out backwards;
    -o-animation: slide-from-left 10s ease-in-out backwards;
    animation: slide-from-left 10s ease-in-out backwards;
  }
  h1:after {
    content: "ABOUT ME";
  }
  h3 {
    color: scale-color($color: $teal, $lightness: 40%);
    -webkit-animation: slide-from-left 10s 0.5s ease-in-out backwards;
    -moz-animation: slide-from-left 10s 0.5s ease-in-out backwards;
    -o-animation: slide-from-left 10s 0.5s ease-in-out backwards;
    animation: slide-from-left 10s 0.5s ease-in-out backwards;
  }
  p {
    color: scale-color($color: $teal, $lightness: -15%);
    -webkit-animation: slide-down 10s 0.75s ease-in-out backwards;
    -moz-animation: slide-down 10s 0.75s ease-in-out backwards;
    -o-animation: slide-down 10s 0.75s ease-in-out backwards;
    animation: slide-down 10s 0.75s ease-in-out backwards;
  }
  @include media("<tablet") {
    text-align: center;
    max-width: 95%;
  }
  @include media(">tablet") {
    padding: 0 0 0 2em;
    flex: 65%;
  }
  @include media(">=desktop") {
    max-width: 600px;
  }
  @include media("<desktop", ">tablet") {
    max-width: 50%;
  }
}
