.graphic {
  flex: 100%;
  text-align: center;
  margin: auto;

  @include media(">tablet") {
    flex: 30%;
    svg {
      width: 60%;
      height: 60%;
    }
  }

  @include media(">=desktop") {
    text-align: right;
    svg {
      width: 50%;
      height: 50%;
    }
  }

  @include media("<tablet") {
    margin-top: 1.5em;
    svg {
      width: 30%;
      height: 30%;
    }
  }
}
.content {
  flex: 100%;
  align-self: flex-start;
  text-align: center;
  -webkit-animation: slide-down 10s 0.25s backwards;
  -moz-animation: slide-down 10s 0.25s backwards;
  -o-animation: slide-down 10s 0.25s backwards;
  animation: slide-down 10s 0.25s backwards;

  .logos {
    width: 3em;
    height: 3em;
    color: $teal;
    margin: auto;
    -webkit-animation: slide-down 10s 0.5s backwards;
    -moz-animation: slide-down 10s 0.5s backwards;
    -o-animation: slide-down 10s 0.5s backwards;
    animation: slide-down 10s 0.5s backwards;
    transition: all 0.75s ease-in-out;

    a {
      color: $teal;
      transition: all 0.75s ease-in-out;
      &:hover {
        color: scale-color($color: $navy, $lightness: 60%);
      }
    }
  }
  .logo-text {
    display: inline;
    margin: 1em 0 0 0;
  }
  h1:after {
    content: "CONTACT ME";
  }

  @include media(">tablet") {
    flex: 70%;
    align-items: center;
  }
  h3 {
    display: relative;
    color: scale-color($color: $teal, $lightness: 20%);
    -webkit-animation: slide-down 10s 0.5s backwards;
    -moz-animation: slide-down 10s 0.5s backwards;
    -o-animation: slide-down 10s 0.5s backwards;
    animation: slide-down 10s 0.5s backwards;
    max-width: 80%;
    margin: 1em auto;

    @include media(">tablet", "<=desktop") {
      max-width: 70%;
    }

    @include media(">=desktop") {
      max-width: 50%;
    }
  }

  input,
  textarea {
    color: $teal;
    margin-top: 1em;
    background: $navy;
    border: 1px solid transparent;
    padding: 0.75em;
    text-align: left;
    width: 80%;
    border-radius: 1.5em;
    -webkit-animation: slide-down 10s 0.75s backwards;
    -moz-animation: slide-down 10s 0.75s backwards;
    -o-animation: slide-down 10s 0.75s backwards;
    animation: slide-down 10s 0.75s backwards;
    transition: all 0.75s ease-in-out;

    @include box-shadow;
    @include media(">tablet", "<desktop") {
      width: 70%;
    }
    @include media(">=desktop") {
      width: 50%;
    }

    &:focus {
      outline: none;
      border: 1px solid $teal;
    }
  }

  textarea {
    height: 5em;
  }

  button {
    background-color: transparent;
    text-align: center;
    color: $teal;
    border: 1px solid scale-color($color: $teal, $lightness: -50%);
    border-radius: 1.5em;
    padding: 0.75em;
    margin-top: 1em;
    width: 80%;
    left: 50%;
    transition: all 0.75s ease-in-out;
    -webkit-animation: slide-down 10s 1s backwards;
    -moz-animation: slide-down 10s 1s backwards;
    -o-animation: slide-down 10s 1s backwards;
    animation: slide-down 10s 1s backwards;

    @include box-shadow;
    @include media(">tablet", "<desktop") {
      width: 70%;
    }
    @include media(">=desktop") {
      width: 50%;
    }

    &:hover {
      background-color: scale-color($color: $teal, $lightness: -50%);
      border: 1px solid transparent;
      color: $navy;
    }

    &:focus {
      outline: none;
      border: 1px solid $teal;
    }
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid scale-color($color: $teal, $lightness: -50%);
  -webkit-text-fill-color: $teal;
  transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: scale-color($color: $teal, $lightness: -50%);
  padding-left: 1em;
  opacity: 1; /* Firefox */
  transform: translateX(-1em);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  padding-left: 1em;
  color: $teal;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  padding-left: 1em;
  color: $teal;
}
