.experience-graphic {
  flex: 100%;
  margin: auto;

  @include media(">=tablet") {
    flex: 30%;
    align-items: center;
    margin-top: 3em;
  }

  @include media("<tablet") {
    text-align: center;
    margin-top: 1.5em;
    svg {
      width: 50%;
      height: 50%;
    }
  }

  @include media(">=desktop") {
    svg {
      width: 80%;
      height: 80%;
    }
  }
}
.content {
  flex: 100%;
  align-self: flex-start;

  @include media(">=tablet") {
    flex: 60%;
    margin-left: 2em;
    p {
      max-width: 75%;
    }
  }

  @include media("<tablet") {
    text-align: center;
    max-width: 95%;
  }

  h1 {
    -webkit-animation: slide-from-right 10s ease-in-out forwards;
    -moz-animation: slide-from-right 10s ease-in-out forwards;
    -o-animation: slide-from-right 10s ease-in-out forwards;
    animation: slide-from-right 10s ease-in-out forwards;
  }
  h1:after {
    content: "EXPERIENCE";
  }
  h3 {
    color: $teal;
    -webkit-animation: slide-down 10s 0.5s backwards;
    -moz-animation: slide-down 10s 0.5s backwards;
    -o-animation: slide-down 10s 0.5s backwards;
    animation: slide-down 10s 0.5s backwards;
  }
  p {
    color: scale-color($color: $teal, $lightness: -25%);
    -webkit-animation: slide-down 10s 1s backwards;
    -moz-animation: slide-down 10s 1s backwards;
    -o-animation: slide-down 10s 1s backwards;
    animation: slide-down 10s 1s backwards;
    opacity: 70%;
    margin: 1em;
  }
}
