.graphic {
  flex: 100%;

  @include media(">tablet") {
    flex: 70%;
  }
}

.content {
  padding: 0 0 0 2em;
  flex: 100%;

  h1 {
    color: $magenta;
    animation: slide-up 10s ease-in-out backwards;
  }
  h4 {
    color: scale-color($color: $magenta, $lightness: -15%);
    animation: slide-down 10s 0.5s ease-in-out backwards;
  }

  @include media(">tablet") {
    flex: 30%;
  }
}
