.graphic {
  flex: 100%;
  margin: auto;
  text-align: center;

  @include media(">tablet") {
    flex: 70%;
  }
  @include media(">=tablet", "<desktop") {
    svg {
      height: 65%;
      width: 65%;
    }
  }
  @include media(">=desktop") {
    svg {
      height: 70%;
      width: 70%;
    }
  }
  @include media("<tablet") {
    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.content {
  padding: 0 0 0 2em;
  flex: 100%;

  h1:after {
    content: "JORDAN YATCKOSKE";
  }

  @include media(">tablet") {
    flex: 30%;
  }
}
