.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: all 0.5s ease-in-out;

  @include media(">=tablet") {
    flex-direction: row;
  }

  @include media("<tablet") {
    .bars-logo {
      padding: 0.5em;
      margin: 1em 0 0 1em;
      color: $teal;
      width: 2em;
      height: 2em;

      &:hover {
        color: scale-color($color: $teal, $lightness: 20%);
      }
    }
  }
}
