.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include media(">=tablet") {
    flex-direction: row;
  }

  h3 {
    animation: slide-down 10s 0.5s backwards;
    a {
      color: $darkBlue;
      @include text-shadow;
      transition: color 0.5s ease-in-out;

      &:hover {
        color: $teal;
      }
    }
  }
}
