.background {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}
.container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;

  background: -moz-linear-gradient(
    13.59% 10.05% -31.68deg,
    rgba(6, 44, 81, 1) 0%,
    rgba(5, 39, 72, 1) 10.88%,
    rgba(2, 29, 54, 1) 37.77%,
    rgba(0, 24, 43, 1) 66.51%,
    rgba(0, 22, 40, 1) 100%
  );
  background: -webkit-linear-gradient(
    -31.68deg,
    rgba(6, 44, 81, 1) 0%,
    rgba(5, 39, 72, 1) 10.88%,
    rgba(2, 29, 54, 1) 37.77%,
    rgba(0, 24, 43, 1) 66.51%,
    rgba(0, 22, 40, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    13.59% 10.05%,
    98.68% 103.42%,
    color-stop(0, rgba(6, 44, 81, 1)),
    color-stop(0.1088, rgba(5, 39, 72, 1)),
    color-stop(0.3777, rgba(2, 29, 54, 1)),
    color-stop(0.6651, rgba(0, 24, 43, 1)),
    color-stop(1, rgba(0, 22, 40, 1))
  );
  background: -o-linear-gradient(
    -31.68deg,
    rgba(6, 44, 81, 1) 0%,
    rgba(5, 39, 72, 1) 10.88%,
    rgba(2, 29, 54, 1) 37.77%,
    rgba(0, 24, 43, 1) 66.51%,
    rgba(0, 22, 40, 1) 100%
  );
  background: -ms-linear-gradient(
    -31.68deg,
    rgba(6, 44, 81, 1) 0%,
    rgba(5, 39, 72, 1) 10.88%,
    rgba(2, 29, 54, 1) 37.77%,
    rgba(0, 24, 43, 1) 66.51%,
    rgba(0, 22, 40, 1) 100%
  );
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#062C51', endColorstr='#001628' ,GradientType=0)";
  background: linear-gradient(
    121.68deg,
    rgba(6, 44, 81, 1) 0%,
    rgba(5, 39, 72, 1) 10.88%,
    rgba(2, 29, 54, 1) 37.77%,
    rgba(0, 24, 43, 1) 66.51%,
    rgba(0, 22, 40, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#062C51',endColorstr='#001628' , GradientType=1);

  .main {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin: auto;
    justify-content: space-around;
    align-items: center;

    @include media(">=desktop") {
      flex-wrap: nowrap;
    }
  }

  footer {
    padding: 0;
    display: flex;
    justify-content: center;
    @include text-shadow;
    h5 {
      animation: slide-up 10s 0.5s backwards;
      color: $darkBlue;
    }
    @include media(">phone") {
      // padding: 2em;
    }
  }
}
