.nav-links {
  flex: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: all 0.25s ease-in-out;

  @include media(">=tablet") {
    flex-direction: row;
    animation: slide-down 4s backwards;

    h3 {
      a {
        color: $darkBlue;
        &:hover {
          color: $teal;
        }
      }
    }
  }

  @include media("<tablet") {
    margin-left: 1.5em;
    text-align: center;
    width: 100%;
    background-color: scale-color($color: $darkNavy, $lightness: 5%);

    @include box-shadow;
    border-radius: 1.5em;
    width: 85%;

    h3 {
      margin-left: 2em;
      a {
        color: $teal;
        &:hover {
          color: scale-color($color: $teal, $lightness: 15%);
        }
      }

      //   width: 100%;
      //   height: 20%;
    }
  }

  h3 {
    display: flex;
    a {
      transition: color 0.5s ease-in-out;
    }
  }
}
